<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div th:fragment="footer">
    <hr/>
    <div class="text-center">
        <div class="col-sm-12 text-center"></div>
        <span th:if="${userObject.isLogin()}">
            |  Zalogowany jako: <span th:text="${userObject.getUserEntity().getUsername()}"></span> |
            <a th:href="@{/logout}" style="color: red">Wyloguj się</a>
        </span>

        <div>
            <p>© 2018 Krzysiek Stuglik</p>
        </div>
    </div>
</div>
</body>
</html>