<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="new-item active" th:if="${userObject.isLogin()}">
                        <a class="nav-link" th:href="@{/profile}">Mój profil</a>
                    </li>
                    <li class="new-item active" th:if="${userObject.isLogin()}">
                        <a class="nav-link" th:href="@{'/blog/' + ${userObject.getUserEntity().getUsername()}}">Moje
                            posty</a>
                    </li>
                    <li class="new-item active" th:if="${userObject.isLogin()}">
                        <a class="nav-link" th:href="@{/addPost}">Nowy post</a>
                    </li>
                    <li class="nav-item dropdown" th:if="${userObject.isLogin()}">
                        <a class="nav-link dropdown-toggle" id="dropdownMenu"
                           data-toggle="dropdown">
                            Wyświetl posty wg
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/home">daty: od najnowszego</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/home/DateAsc">daty: od najstarszego</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/home/LikesDesc">polubień: malejąco</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/home/LikesAsc">polubień: rosnąco</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/home/CommentsDesc">komentarzy: malejąco</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/home/CommentsAsc">komentarzy: rosnąco</a>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="mx-auto order-0">
                <a class="navbar-brand mx-auto" th:href="@{/home}">BestBlog</a>
                <button class="navbar-toggler" type="button" data-toggler="collapse" data-target=".dual-collapse-2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 ">
                <ul class="navbar-nav ml-auto">
                    <li class="new-item active" th:if="${!userObject.isLogin()}">
                        <a class="nav-link" th:href="@{/login}">Zaloguj się</a>
                    </li>
                    <li class="new-item active" th:if="${!userObject.isLogin()}">
                        <a class="nav-link" th:href="@{/register}">Zarejestruj się</a>
                    </li>
                    <li class="new-item active" th:if="${userObject.isLogin()}">
                        <a class="nav-link" th:href="@{/logout}">Wyloguj się</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>